.row
  .small-12.columns
    %label{for: field.name} #{field.label}
    %select
      - field.options.each do |option|
        %option{value: option.is_a?(Array) ? option[1] : option}
          = option.is_a?(Array) ? option[0] : option
