.row
  .small-12.columns
    = f.label field.name, field.label
.row
  .small-12.columns
    = f.radio_button field.name, false, text: "No"
    No
.row
  .small-12.columns
    = f.radio_button field.name, true, text: "Yes"
    Yes
