.row
  .small-12.columns
    %label{for: field.name} #{field.label}
    %input{name: field.name, type: "text", placeholder: "MM/DD/YYYY", pattern: "^[012]\d/[0123]\d/(?:19|20)\d{2}$", err: "enter date like mm/dd/yyyy"}