.row
  .small-12.columns
    %label{for: field.name} #{field.label}
    %ul
      - field.options.each do |option|
        %li
          %input{name: field.name, type: "radio", value: option["value"] }
          = option["name"]
