.row
  .small-12.columns
    %label{for: field.name} #{field.label}
.row
  .small-12.columns
    %input{type: "radio", name: field.name, value: "false"} No
.row
  .small-12.columns
    %input{type: "radio", name: field.name, value: "true"} Yes
